:root {
    --primaryColor: #2a3b8c; /* Dark Blue - Technology */
    --secondaryColor: #ff6f00; /* Bright Orange - Energy */
    --onPrimaryColor: #e1eaf6; /* Light Blue - Clarity */
    --onSecondaryColor: #ffbc42; /* Soft Orange - Fun */
    --black: #000;
    --white: #fff;
    --gray: #f0f0f0;
    --red: #e74c3c; /* Red - Highlight */
  }
  
  /* Resetting margin, padding, and font for all elements */
  * {
    margin: 0;
    padding: 0;
    font-family: "Comic Neue", sans-serif; /* We set a font style for the entire document */
  }
  
  /* Applying overflow property to HTML and body */
  html,
  body {
    overflow-x: hidden; /* Prevents horizontal scrolling in the document */
  }
  
  /*-----------HEADER NAVBAR MENU-----------*/
  /* Styling for the header section */
  header {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    width: 100%;
    background-image: url('image/young-happy-man-serving-food-dining-table-while-having-lunch-with-friends-home_637285-5866.avif');
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  /* Styling for the navigation bar */
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Styling for the navigation bar logo */
  nav img {
    width: 50px;
  }
  
  /* Styling for the navigation links container */
  .nav-links {
    flex: 1;
    text-align: right;
  }
  
  /* Styling for each navigation link item */
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  /* Styling for the navigation link text */
  .nav-links ul li a {
    color: var(--white);
    text-decoration: none;
    font-size: 13px;
  }
  
  /* Styling for the line that appears under a navigation link on hover */
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--onPrimaryColor);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  /* Styling for the line that expands on hover */
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  /* Keyframes animation for text movement */
  @keyframes textMovement {
    0% {
      opacity: 0;
      scale: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Styling for the text box in the header */
  .text-box {
    width: 90%;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    animation: textMovement 2s forwards;
  }
  
  /* Styling for the header text */
  .text-box h1 {
    font-size: 57px;
  }
  .text-box h2{
    font-size: 60px;
  }

  
  /* Styling for the paragraph in the text box */
  .text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: var(--black);
  }
  
  /* Styling for the hero button */
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  
  /* Styling for the hero button on hover */
  .hero-btn:hover {
    border: 1px solid var(--onPrimaryColor);
    background: var(--onPrimaryColor);
    transition: 1s;
  }
  
  /* Styling for the menu icon in the navigation bar on smaller screens */
  nav .fa-solid {
    display: none;
  }
  .flex-container1 {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0);
    align-items: center; 
    justify-content: center; 
         
  }
  
  .flex-container1 > div {
    background-color: #ffffff;
    width: 1000px;
    margin: 10px;
    text-align: center;align-items: center; 
    justify-content: center;
  
    
  }
  
  /* Media query for screens with a maximum width of 700px */
  @media (max-width: 700px) {
    /* Adjustments for header text on smaller screens */
    .text-box h1 {
      font-size: 60px;
    }
  
    .text-box h2 {
      font-size: 60px;
    }
  
    /* Display the navigation links vertically and slide them in from the right */
    .nav-links ul li {
      display: block;
    }
    .nav-links {
      position: absolute;
      background: rgba(88, 88, 88, 0.8); 
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
  
    /* Display the menu icon and style it */
    nav .fa-solid {
      display: block;
      color: var(--white);
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  
    /* Adjustments for the navigation links container on smaller screens */
    .nav-links ul {
      padding: 30px;
    }

    .flex-container1 {
      display: flex;
      flex-wrap: nowrap;
      background-color: rgb(0, 0, 0);
      align-items: center; 
      justify-content: center; 
           
    }
    
    .flex-container1 > div {
      background-color: #ffffff;
      width: 1000px;
      margin: 10px;
      text-align: center;align-items: center; 
      justify-content: center;
    
      
    }
  }
  
  /*-----------SERVICES-----------*/
  
  /* Styling for the projects section */
  .proyects {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  
  /* Styling for the heading */
  h2 {
    font-size: 36px;
    font-weight: 600;
  }
  
  /* Styling for paragraphs */
  p {
    color: var(--black);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  
  /* Styling for rows to arrange project columns */
  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  /* Styling for individual project columns */
  .proyects-col {
    flex-basis: 31%;
    background: var(--onPrimaryColor);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  
  /* Styling for project titles */
  h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }
  
  /* Styling for project images */
  .proyects-img img {
    width: 200px;
    height: 300px;
  }
  
  /* Keyframes animation for rotating element */
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  /* Keyframes animation for R2-D2 movement */
  @keyframes r2d2Movement {
    0%,
    100% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(20px) translateY(5px);
    }
    50% {
      transform: translateX(-15px) translateY(-10px);
    }
    75% {
      transform: translateX(25px) translateY(-5px);
    }
  }
  
  /* Keyframes animation for WALL-E movement */
  @keyframes walleMovement {
    0%,
    100% {
      transform: translateX(0) translateY(0);
    }
    20% {
      transform: translateX(10px) translateY(-5px);
    }
    40% {
      transform: translateX(-15px) translateY(10px);
    }
    60% {
      transform: translateX(20px) translateY(-5px);
    }
    80% {
      transform: translateX(-10px) translateY(5px);
    }
  }
  
  /* Styling for project columns on hover */
  .proyects-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  /* Styling for content that appears on hover */
  .proyects-col:hover::before {
    content: "TOUCH ME!";
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  /* Styling for content that appears on hover when opacity changes */
  .proyects-col:hover::before {
    opacity: 1;
  }
  
  /* Media query for screens with a maximum width of 700px */
  @media (max-width: 700px) {
    /* Adjustments for layout on smaller screens */
    .row {
      flex-direction: column;
    }
    .proyects-img img {
      width: 100px;
      height: 150px;
    }
  }
  

  /*-----------TESTIMONIALS-----------*/
  /* Styling for the about section */
  .about {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
  }
  
  /* Styling for links within paragraphs in the about section */
  .about p a {
    text-decoration: none;
    color: var(--secondaryColor);
    transition: transform 0.3s, color 0.3s;
  }
  
  /* Styling for links within paragraphs on hover */
  .about p a:hover {
    font-size: 18px;
    color: var(--onSecondaryColor);
  }
  
  /* Styling for testimonial columns */
  .testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: var(--onPrimaryColor);
    padding: 25px;
    cursor: pointer;
    display: flex;
  }
  
  /* Styling for images within testimonial columns */
  .testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
  }
  
  /* Styling for paragraphs within testimonial columns */
  .testimonial-col p {
    padding: 0;
  }
  
  /* Styling for heading within testimonial columns */
  .testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
  }
  
  /* Styling for solid icons within testimonial columns */
  .testimonial-col .fa-solid {
    color: var(--onSecondaryColor);
  }
  
  /* Media query for screens with a maximum width of 700px */
  @media (max-width: 700px) {
    /* Adjustments for testimonial column images on smaller screens */
    .testimonial-col img {
      margin-left: 0px;
      margin-right: 15px;
    }
  }
  
  /*-----------SERVICES-----------*/
  
  /* Styling for the services section */
  .services {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  
  /* Styling for service columns */
  .services-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
  }
  
  /* Styling for images within service columns */
  .services-col img {
    width: 100%;
    border-radius: 10px;
  }
  
  /* Styling for paragraphs within service columns */
  .services-col p {
    padding: 0;
  }
  
  /* Styling for heading within service columns */
  .services-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
  }
  
  /*-----------FORM-------------*/
  
  /* Styling for the tile paragraph section */
  #tileParagraph {
    height: 400; /* Set the height of the element (missing unit, e.g., px) */
    text-align: center;
    margin: 40px;
    font-size: 24px;
  }
  
  /* Styling for the form element */
  form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--onPrimaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
  }
  
  /* Styling for input fields, select, and textarea elements */
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    display: block;
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
  }
  
  /* Styling for the submit button */
  button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--onPrimaryColor);
    color: var(--black);
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styling for the submit button on hover */
  button[type="submit"]:hover {
    background-color: var(--gray);
  }
  
  /* Styling for textarea element */
  textarea {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 200px;
    resize: none;
    position: relative;
  }
  
  /*-----------FOOTER-----------*/
  
  /* Styling for the footer section */
  footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
  }
  
  /* Styling for heading within the footer */
  footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
  }

  footer h2 {
    color: rgb(255, 255, 255);
  }

  footer p {
    color: #ababab;
  width: 70%;
  text-align: center;
  margin: 0 auto; 
  }
  
  
  /* Styling for icon elements within the footer */
  .icons .fa-brands {
    color: var(--onSecondaryColor);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    transition: transform 0.2s ease, margin 0.2s ease;
  }
  
  /* Styling for icon elements within the footer on hover */
  .icons .fa-brands:hover {
    transform: scale(1.1) translate(0, -5%);
    margin: 0 20px;
  }
  
  /* Styling for heart icon */
  .fa-heart {
    color: var(--red);
  }
  
  /* Media query for screens with a maximum width of 600px */
  @media screen and (max-width: 600px) {
    /* Adjustments for heading within the footer on smaller screens */
    footer h4 {
      font-size: 1.5rem;
    }
  
    /* Adjustments for icon elements within the footer on smaller screens */
    .icons .fa-brands {
      padding: 10px 0;
      margin: 0 10px;
    }
    .flex-container1 {
      display: flex;
      flex-wrap: nowrap;
      background-color: rgb(0, 0, 0);
      align-items: center; 
      justify-content: center; 
           
    }
    
    .flex-container1 > div {
      background-color: #ffffff;
      width: 1000px;
      margin: 10px;
      text-align: center;align-items: center; 
      justify-content: center;
    
      
    }
  }
  
  /* Media query for screens with a minimum width of 391px */
  @media screen and (min-width: 391px) {
    /* Adjustments for footer on larger screens */
    footer {
      width: 100%;
      height: auto; /* Change the value according to your preference */
    }
  
    /* Adjustments for heading within the footer on larger screens */
    footer h4 {
      font-size: 2rem;
    }
  
    /* Adjustments for icon elements within the footer on larger screens */
    .icons .fa-brands {
      padding: 18px 0;
      margin: 0 13px;
    }
    .rectangle-container {
            border: 2px solid #000; /* Border style */
            padding: 20px; /* Padding to create space between text and border */
            border-radius: 8px; /* Optional: Adds rounded corners */
            width: 450px; /* Set the width of the rectangle */
            margin: 0 auto; /* Center the container horizontally */
            background-color: rgba(255, 255, 255, 0.8);
       color: #000;
        }

    .text-box h3{
        color: #000;
    }

    .text-box h2{
        font-size: 15px;

    }

    .flex-container1 {
      display: flex;
      flex-wrap: nowrap;
      background-color: rgb(0, 0, 0);
      align-items: center; 
      justify-content: center; 
           
    }
    
    .flex-container1 > div {
      background-color: #ffffff;
      width: 1000px;
      margin: 10px;
      text-align: center;align-items: center; 
      justify-content: center;

    }
    
  }
      
    
      
    
